PROJECT_ID=your-project-id
REGION=europe-west9

RAW_BUCKET=your-raw-bucket

PUBSUB_ORDERS_TOPIC=orders-topic
PUBSUB_TRANSACTIONS_TOPIC=transactions-topic

BQ_STREAMING_DATASET=ecommerce
BQ_STREAMING_TABLE=orders_streaming

BQ_SAFE_DATASET=ecom_dataset
BQ_SAFE_TABLE=orders_streaming_safe

BQ_RETAIL_DATASET=retail
BQ_RAW_TABLE=orders_raw
